_The following excercises are adapted from Bill Lubanovic's Introducing Python_

1- Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. 
For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985]

In [1]:
years_list = [1980, 1981, 1982, 1983, 1984, 1985]

2- In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
years_list[3]

1983

3- In which year in years_list were you the oldest?

In [3]:
years_list[-1]

1985

4- Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [15]:
things = ["mozzarella", "cinderella", "salmonella"]

5- Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [7]:
things[1] = things[1].capitalize()
things

6- Make the cheesy element of things all uppercase and then print the list.

In [11]:
things[0] = things[0].upper()
things

['MOZZARELLA', 'Cinderella', 'salmonella']

7- Delete the disease element from things, collect your Nobel Prize, and print the list.

In [14]:
things.pop()
things

['MOZZARELLA', 'Cinderella']

In [ ]:
things = ["mozzarella", "cinderella", "salmonella"]
things = things[0:2]
things

In [ ]:
things = ["mozzarella", "cinderella", "salmonella"]
things[-1:]=[]
things

8- Create a list called surprise with the elements "Groucho", "Chico", and "Harpo".

In [34]:
surprise = ["Groucho", "Chico",  "Harpo"]

9- Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [28]:
surprise[-1].lower()[::-1].capitalize()

'Oprah'

In [41]:
# or spell it in details
last_element = surprise[-1]
last_element_in_lower_case = last_element.lower()
reversed_element = last_element_in_lower_case[::-1]
reversed_element.capitalize()

'Oprah'

10- Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [42]:
e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}

11- Using your three-word dictionary e2f, print the French word for walrus.

In [43]:
print(e2f['walrus'])

morse

12- Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [44]:
e2f.items()

dict_items([('dog', 'chien'), ('cat', 'chat'), ('walrus', 'morse')])

In [45]:
# each item is a tuple
f2e = {}
for item in e2f.items():
    key = item[0]
    value = item[1]
    f2e[value]=key
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [53]:
#another way to do it
f2e = {}
for k in e2f:
    v = e2f[k]
    f2e[v]=k
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

13- Using f2e, print the English equivalent of the French word chien.

In [54]:
f2e['chien']

'dog'

14- Make and print a set of English words from the keys in e2f.

In [56]:
english_words = set(e2f.keys())
english_words

{'cat', 'dog', 'walrus'}

15- Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [57]:
life = {'animals': 
            {
                'cats': ['Henri', 'Grumpy', 'Lucy'],
                'octopi': {},
                'emus': {}
            }, 
        'plants': {}, 
        'other': {}
       }

In [58]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

16- Print the top-level keys of life.

In [59]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [60]:
for k in life.keys():
    print(k)

animals
plants
other

17- Print the keys for life['animals'].

In [61]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [62]:
for k in life['animals'].keys():
    print(k)

cats
octopi
emus

18- Print the values for life['animals']['cats'].

In [63]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']