*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

# Introducing Pandas Objects

In [1]:
import pandas as pd

## The Pandas Series Object

A Pandas ``Series`` is a one-dimensional array of indexed data.
It can be created from a list or array as follows:

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data[0]

0.25

In [6]:
data[1]

0.5

In [7]:
data[::-1]

3    1.00
2    0.75
1    0.50
0    0.25
dtype: float64

In [3]:
list(data.values)

[0.25, 0.5, 0.75, 1.0]

The ``index`` is an array-like object of type ``pd.Index``, which we'll discuss in more detail momentarily.

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
data['a'] = 0.15
data

a    0.15
b     0.5
c    0.75
d       1
dtype: object

In [15]:
data[0]

0.15

In [16]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [17]:
data.index

Int64Index([2, 5, 3, 7], dtype='int64')

In [20]:
data.iloc[2]

0.75

In [21]:
data.loc[2]

0.25

In [22]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [23]:
population.to_dict()

{'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

By default, a ``Series`` will be created where the index is drawn from the sorted keys.
From here, typical dictionary-style item access can be performed:

In [24]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
population['California']

38332521

In [25]:
population[0]

38332521

In [29]:
population['Texas':'Illinois']

Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

In [28]:
population[1:5]

Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

## The Pandas DataFrame Object

In [30]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [31]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [39]:
states['year'] = 2016

In [40]:
states

            population    area  year
California    38332521  423967  2016
Texas         26448193  695662  2016
New York      19651127  141297  2016
Florida       19552860  170312  2016
Illinois      12882135  149995  2016

In [33]:
states.columns

Index(['population', 'area'], dtype='object')

In [45]:
states[['year','population']]

            year  population
California  2016    38332521
Texas       2016    26448193
New York    2016    19651127
Florida     2016    19552860
Illinois    2016    12882135

In [48]:
type(states['year'])

pandas.core.series.Series

In [49]:
type(states[['year']])

pandas.core.frame.DataFrame

In [38]:
states.loc[ 'Texas' , 'area' ] #sneak peek

695662

In [50]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you reference and modify data.

In [51]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [52]:
ind[1]

3

In [53]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

### Index as ordered set

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic.
The ``Index`` object follows many of the conventions used by Python's built-in ``set`` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [57]:
s1 ={1,2,3}
s2 = {2, 3, 4}
s1 & s2

{2, 3}

In [58]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [55]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [56]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [26]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

These operations may also be accessed via object methods, for example ``indA.intersection(indB)``.