In [1]:
import pandas as pd

In [2]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

- How many entries are there in `population`
- What are the values?
- What is the index of the series
- What is the population of `Florida`
- Extract the subseries of Texas, New York, and Florida

In [3]:
# How many entries are there in `population`
len(population)
population.size
population.count()

5

In [4]:
# What are the values?
population.values

array([38332521, 26448193, 19651127, 19552860, 12882135])

In [5]:
# What is the index of the series
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [6]:
# What is the population of `Florida`
population['Florida']

19552860

In [10]:
# Extract the subseries of Texas, New York, and Florida
population['Texas':'Florida']

Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

In [11]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

- Create a data frame of two columns, population and area
- What is the index of the data frame
- What are the columns of the data frame
- How many entries are there in the data frame

In [13]:
# Create a data frame of two columns, population and area
df = pd.DataFrame({'population':population, 'area':area})
df

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [14]:
# What is the index of the data frame
df.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [15]:
# What are the columns of the data frame
df.columns

Index(['population', 'area'], dtype='object')

In [16]:
# How many entries are there in the data frame
len(df)

5