In [4]:
import pandas as pd
import numpy as np

The file `gapminder_with_missing.tsv` contains missing values indicated by `-1`

In [5]:
data = pd.read_csv('data/gapminder_with_missing.tsv', sep='\t')

In [3]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083   -1.000000
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Calculate the average `lifeExp`, `pop`, and `gdpPercap`

In [7]:
data['lifeExp'].mean()

55.81203833333336

In [8]:
data['pop'].mean()

27992515.794014085

The values you calculated are not accurate because `-1` was included in the calculation. However, `-1` is used in the file to indicate the entry is missing. Let us deal with that.

Replace all `-1` with `NaN` *HINT* uses the function replace, i.e., `data.replace(...)`

In [10]:
data2 = data.replace(-1, np.nan)

Calculate the average `lifeExp`, `pop`, and `gdpPercap` again

In [14]:
data2['lifeExp'].dropna().mean()

59.391586600124796

In [15]:
data2['pop'].mean()

29774810.870786518

What are the rows that contain missing values?

In [19]:
data2.isnull()

In [27]:
data3 = data2.isnull()
nr = set()
for i in data3.index:
    for c in data3.columns:
        v = data3.loc[i, c]
        if v:
            nr.add(c)
        #print(v)

In [28]:
nr

{'gdpPercap', 'lifeExp', 'pop'}

What are the cols that contain missing values?

In [31]:
#data2.dropna()