In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/InternetCompanies.csv')
data

            Company Country MarketCap    Cash Revenue
0             Apple     USA     $547    $233    $235
1   Google/Alphabet     USA     $510     $79     $75
2            Amazon     USA     $341     $16    $107
3          Facebook     USA     $340     $21     $18
4           Tencent   China     $206     $14     $16
5           Alibaba   China     $205     $18     $15
6   Priceline Group     USA      $63     $11      $9
7              Uber     USA      $63    $-      $-
8             Baidu   China      $62     $11     $10
9     Ant Financial   China      $60    $-      $-
10       Salesforce     USA      $57      $4      $7
11           Xiaomi   China      $46    $-      $-
12           Paypal     USA      $46      $6      $9
13          Netflix     USA      $44      $2      $7
14            Yahoo     USA      $36     $10      $5
15           JD.com   China      $34      $5     $28
16             eBay     USA      $28     $11      $9
17           Airbnb     USA      $26    $-      $-
18      Yahoo Japan   Japan      $26      $5      $5
19      Didi Kuaidi   China      $25    $-      $-

`data` is broken to two data frames `data1` and `data2`.
Reassemble the data from the two data frames

In [33]:
data1 = data.iloc[:10, :]
data2 = data.iloc[10:, :]

In [34]:
data1.append(data2)

            Company Country MarketCap    Cash Revenue
0             Apple     USA     $547    $233    $235
1   Google/Alphabet     USA     $510     $79     $75
2            Amazon     USA     $341     $16    $107
3          Facebook     USA     $340     $21     $18
4           Tencent   China     $206     $14     $16
5           Alibaba   China     $205     $18     $15
6   Priceline Group     USA      $63     $11      $9
7              Uber     USA      $63    $-      $-
8             Baidu   China      $62     $11     $10
9     Ant Financial   China      $60    $-      $-
10       Salesforce     USA      $57      $4      $7
11           Xiaomi   China      $46    $-      $-
12           Paypal     USA      $46      $6      $9
13          Netflix     USA      $44      $2      $7
14            Yahoo     USA      $36     $10      $5
15           JD.com   China      $34      $5     $28
16             eBay     USA      $28     $11      $9
17           Airbnb     USA      $26    $-      $-
18      Yahoo Japan   Japan      $26      $5      $5
19      Didi Kuaidi   China      $25    $-      $-

In [35]:
pd.concat([data1, data2])

            Company Country MarketCap    Cash Revenue
0             Apple     USA     $547    $233    $235
1   Google/Alphabet     USA     $510     $79     $75
2            Amazon     USA     $341     $16    $107
3          Facebook     USA     $340     $21     $18
4           Tencent   China     $206     $14     $16
5           Alibaba   China     $205     $18     $15
6   Priceline Group     USA      $63     $11      $9
7              Uber     USA      $63    $-      $-
8             Baidu   China      $62     $11     $10
9     Ant Financial   China      $60    $-      $-
10       Salesforce     USA      $57      $4      $7
11           Xiaomi   China      $46    $-      $-
12           Paypal     USA      $46      $6      $9
13          Netflix     USA      $44      $2      $7
14            Yahoo     USA      $36     $10      $5
15           JD.com   China      $34      $5     $28
16             eBay     USA      $28     $11      $9
17           Airbnb     USA      $26    $-      $-
18      Yahoo Japan   Japan      $26      $5      $5
19      Didi Kuaidi   China      $25    $-      $-

`data` is broken to two data frames `data1` and `data2`.
Reassemble the data from the two data frames

In [37]:
data1 = data.iloc[:, :2]
data2 = data.iloc[:, 2:]

In [38]:
pd.concat([data1, data2], axis=1)

            Company Country MarketCap    Cash Revenue
0             Apple     USA     $547    $233    $235
1   Google/Alphabet     USA     $510     $79     $75
2            Amazon     USA     $341     $16    $107
3          Facebook     USA     $340     $21     $18
4           Tencent   China     $206     $14     $16
5           Alibaba   China     $205     $18     $15
6   Priceline Group     USA      $63     $11      $9
7              Uber     USA      $63    $-      $-
8             Baidu   China      $62     $11     $10
9     Ant Financial   China      $60    $-      $-
10       Salesforce     USA      $57      $4      $7
11           Xiaomi   China      $46    $-      $-
12           Paypal     USA      $46      $6      $9
13          Netflix     USA      $44      $2      $7
14            Yahoo     USA      $36     $10      $5
15           JD.com   China      $34      $5     $28
16             eBay     USA      $28     $11      $9
17           Airbnb     USA      $26    $-      $-
18      Yahoo Japan   Japan      $26      $5      $5
19      Didi Kuaidi   China      $25    $-      $-

`data` is broken to four data frames `data1`, `data2`, `data3`, and `data4`.
Reassemble the data from the four data frames

In [39]:
data1 = data.iloc[:10, :2]
data2 = data.iloc[10:, :2]
data3 = data.iloc[:10, 2:]
data4 = data.iloc[10:, 2:]

In [40]:
pd.concat([data1.append(data2), data3.append(data4)], axis=1)

            Company Country MarketCap    Cash Revenue
0             Apple     USA     $547    $233    $235
1   Google/Alphabet     USA     $510     $79     $75
2            Amazon     USA     $341     $16    $107
3          Facebook     USA     $340     $21     $18
4           Tencent   China     $206     $14     $16
5           Alibaba   China     $205     $18     $15
6   Priceline Group     USA      $63     $11      $9
7              Uber     USA      $63    $-      $-
8             Baidu   China      $62     $11     $10
9     Ant Financial   China      $60    $-      $-
10       Salesforce     USA      $57      $4      $7
11           Xiaomi   China      $46    $-      $-
12           Paypal     USA      $46      $6      $9
13          Netflix     USA      $44      $2      $7
14            Yahoo     USA      $36     $10      $5
15           JD.com   China      $34      $5     $28
16             eBay     USA      $28     $11      $9
17           Airbnb     USA      $26    $-      $-
18      Yahoo Japan   Japan      $26      $5      $5
19      Didi Kuaidi   China      $25    $-      $-