In [1]:
import pandas as pd
import altair as alt
#uncomment one of the following
#if you have an old version of Altair
# alt.renderers.enable('notebook')
#if you have a recent version of Altair
# alt.renderers.enable('default')

RendererRegistry.enable('notebook')

0- Load the Gapminder dataset

In [3]:
data = pd.read_csv('data/gapminder.tsv', sep='\t')

In [4]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

1- Relate per capita GDP to life expectancy using point mark

2- Use color to differentiate between the different years

4- Can you account for population size? Try changing the size of the dots

5- Use facets (cols/rows) to break this plot into one plot per year

6- how does life expectancy vary per continent?

7- how did life expectancy change over time?