In [21]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.tree import export_text

This example uses the [Universal Bank](https://www.kaggle.com/sriharipramod/bank-loan-classification) data set and some example code of running classification trees from chapter 9 of [Data Mining for Business Analytics](https://www.dataminingbook.com/book/python-edition)

> The data include customer demographic information (age, income, etc.), the customer's relationship with the bank (mortgage, securities account, etc.), and the customer response to the last personal loan campaign (Personal Loan). Among these 5000 customers, only 480 (= 9.6%) accepted the personal loan that was offered to them in the earlier campaign
[Source](https://www.kaggle.com/itsmesunil/campaign-for-selling-personal-loans)

1. Train a decision tree classifier, print the tree and evaluate its accuracy.
2. Prune the tree by changing its hyper parameters, evaluate the accuracy of the new tree.
3. Using [grid search](https://scikit-learn.org/stable/modules/grid_search.html), perform a systematic tuning of the decision tree hyper parameters.

In [3]:
data = pd.read_csv('data/UniversalBank.csv')
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

Courtesy - Statistics.com    

Data Description:
ID   		 	 Customer ID
Age   		 Customer's age in completed years
Experience   	 #years of professional experience
Income   		 Annual income of the customer ($000)
ZIPCode   		 Home Address ZIP code.
Family   		 Family size of the customer
CCAvg   		 Avg. spending on credit cards per month ($000)
Education   	 	 Education Level. 1: Undergrad; 2: Graduate; 3: Advanced/Professional
Mortgage   	 	 Value of house mortgage if any. ($000)
Personal Loan   	 Did this customer accept the personal loan offered in the last campaign?
Securities Account   Does the customer have a securities account with the bank?
CD Account   	 Does the customer have a certificate of deposit (CD) account with the bank?
Online   		 Does the customer use internet banking facilities?
CreditCard   	 Does the customer use a credit card issued by UniversalBank?