In [1]:
import pandas as pd
import altair as alt
alt.renderers.enable('notebook')
from sklearn.cluster import KMeans

This example uses the [Utilities](https://github.com/GauthamBest/Training_Data/blob/master/utilities.csv) data set and some example code of running classification trees from chapter 15 of [Data Mining for Business Analytics](https://www.dataminingbook.com/book/python-edition)

The data dictionary

Variable 	|		Description
------------|  ----------------
Company	|	    	Company name
Fixed_charge    |		Fixed-charge coverage ratio (income/debt)|
RoR    |				Percent rate of return on capital
Cost    |				Cost per KW capacity in place
Load_factor   | 			Annual load factor
Demand_growth |   		Percent demand growth
Sales    |			Sales (KWH use per year)
Nuclear   | 			Percent nuclear
Fuel_Cost	|		Total fuel costs (cents per KWH)

Using k-means clustering:

1. Cluster the data into two clusters. What do these clusters represent?
2. Cluster the data into six clusters. What do these clusters represent?
3. Using the [inertia](https://scikit-learn.org/stable/modules/clustering.html?highlight=inertia) as a criteria, select the optimal number of clusters

The K-means algorithm aims to choose centroids that minimise the inertia, or within-cluster sum-of-squares criterion: $\sum_{i=0}^{n}\min_{\mu_j \in C}(||x_i - \mu_j||^2)$

In [2]:
data = pd.read_csv('data/Utilities.csv')
data.head()

,Company,Fixed_charge,RoR,Cost,Load_factor,Demand_growth,Sales,Nuclear,Fuel_Cost
0,Arizona,1.06,9.2,151,54.4,1.6,9077,0.0,0.628
1,Boston,0.89,10.3,202,57.9,2.2,5088,25.3,1.555
2,Central,1.43,15.4,113,53.0,3.4,9212,0.0,1.058
3,Commonwealth,1.02,11.2,168,56.0,0.3,6423,34.3,0.700
4,NY,1.49,8.8,192,51.2,1.0,3300,15.6,2.044